@{
    ViewData["Title"] = "Home Page";
    @model ZillowAPIDemo.Models.HomeAddress
}

<div class="container">
    <div class="row">
        <form action="/Home/Index" method="post" class="form-line" target="_blank">
            <h3>Please enter a home address to search</h3>
            <table class="table-condensed" >
                <tr class="row" >
                    <td ><label for="street" >Street Address: </label></td>
                    <td>@Html.TextBoxFor(m => m.StreetAddress, new { @class = "form-control" })</td>
                </tr>
                <tr class="row">
                    <td><label for="city" >City: </label></td>
                    <td>@Html.TextBoxFor(m => m.City, new { @class = "form-control" })</td>
                </tr>
                <tr class="row">
                    <!-- State -->
                    <td><label for="state" >State: </label></td>
                    <td>@Html.TextBoxFor(m => m.State, new { @class = "form-control" })</td>
                </tr>

                <tr class="row">
                    <!-- Zip Code -->
                    <td><label for="zipcode">Zip Code: </label></td>
                    <td>@Html.TextBoxFor(m => m.Zipcode, new { @class = "form-control" })</td>
                </tr>

            </table>
            <p class="">Both city and state is required if zip code is not provided</p>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>
</div>




